.benefit {
  padding: 82px 0 100px 0;
}

.benefit__header {
  margin-bottom: 46px;
}

.benefit__introtext {
  margin-bottom: 70px;

  line-height: 30px;
}

.benefit__list {
  @include zeroList;
  margin-bottom: 98px;
}

.benefit__item {
  display: flex;
  align-items: center;

  margin-bottom: 42px;

  &:last-child {
    margin-bottom: 0;
  }
}

.benefit__text {
  width: 470px;
  margin: 0;

  font-size: 24px;
  color: $blue;

  & b {
    margin-right: 15px;
  }
}

.benefit__picture {
  width: 102px;
  height: 102px;
  margin-right: 45px;
}

@media(min-width: $tablet-width) {
.benefit__header {
  width: 530px;
}

.benefit__introtext {
  width: 570px;
  }
}

@media(min-width: $desktop-width) {
  .benefit {
    padding: 72px 0 70px 0;;
  }

  .benefit__header {
    width: auto;
    margin-bottom: 15px;
  }

  .benefit__introtext {
    width: auto;
    margin-bottom: 55px;
  }

  .benefit__picture {
    width: 74px;
    height: 74px;
    margin-right: 34px;
  }

  .benefit__item {
    margin-bottom: 30px
  }

  .benefit__text {
    width: auto;
    font-size: 18px;

    & b {
      margin-right: 6px;

      font-size: 26px;
    }
  }

  .benefit__list {
    margin-bottom: 78px;
  }

 .benefit__btn {
    width: 265px;
  }
}
