.instruction {
  padding: 90px 0 78px 0;
}

.instruction__header {
  width: 300px;
  margin-bottom: 46px;
}

.instruction__introtext {
  width: 485px;
  margin-bottom: 106px;
}

.instruction__step-list {
  display: flex;
  flex-wrap: wrap;

  @include zeroList;
  padding-left: 40px;
}

.instruction__step-item {
  position: relative;

  width: 164px;

  &:nth-child(odd) {
    margin-right: 155px;
  }

  &:before {
    position: absolute;

    top: 20px;
    left: -46px;

    width: 70px;
    height: 105px;

    font-size: 150px;
    line-height: 24px;
    color: rgba(57, 62, 107, 0.15);
  }

  &:nth-child(1) {
    &:before {
      content: "1";
    }
  }

  &:nth-child(2) {
    &:before {
      content: "2";
    }
  }
}

.instruction__picture {
  margin-bottom: 36px;
}

.instruction__link {
  width: 150px;

  font-size: 28px;
}

@media(min-width: $desktop-width) {
  .instruction {
    padding: 68px 0 82px 0;
  }

  .instruction__header {
    width: auto;
    margin-bottom: 16px;
  }

  .instruction__introtext {
    width: auto;
    margin-bottom: 112px;
  }

  .instruction__picture {
    width: 52px;
    margin-bottom: 20px;
  }

  .instruction__link {
    width: 220px;

    font-size: 18px;
  }

  .instruction__step-list {
    padding-left: 0;
  }

  .instruction__step-item {
    width: 256px;

    &:nth-child(odd) {
      margin-right: 0;
    }

    &:before {
      top: 0;
    }
  }
}
