.footer {
  padding: 56px 0 54px 0;

  font-size: 26px;
  line-height: 32px;
  color: #ffffff;
  background-color: $blue;
}

.footer__content-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  padding-left: 16px;
}

@media(min-width: $desktop-width) {
  .footer {
    padding: 50px 0 54px 0;

    font-size: 16px;
    line-height: 18px;
    color: $white;
  }

  .footer__copyright {
    padding-left: 0;
  }
}
