@font-face {
  font-weight: 400;
  font-family: "Ubuntu-Regular";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff"); }

html, body {
  margin: 0; }

img {
  display: block; }

body {
  font-family: Ubuntu-Regular, Arial, sans-serif;
  color: #74757b; }

.content-wrapper {
  width: 90%;
  margin: 0 auto; }

.section-header {
  margin: 0;
  color: #393e6b;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 4px;
  text-transform: uppercase; }

.text {
  margin: 0;
  color: #74757b;
  font-size: 26px;
  line-height: 36px; }

.text--small {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px; }

.link {
  display: block;
  color: #2cd3b8;
  font-size: 26px;
  line-height: 30px; }
  .link:hover {
    opacity: 0.6; }
  .link:active {
    opacity: 0.3; }

.link--article {
  margin-bottom: 34px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 1px; }

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 38px; }

.list-item {
  position: relative; }
  .list-item:before {
    position: absolute;
    display: block;
    top: 14px;
    left: -38px;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #393e6b;
    border-radius: 50%; }

.b--hide {
  font-weight: 400; }

.bgcolor--blue {
  background-color: #eff4f4; }

@media (min-width: 750px) {
  .content-wrapper {
    width: 616px; }
  .link--article {
    width: 456px; } }

@media (min-width: 1680px) {
  .content-wrapper {
    width: 1024px; }
  .section-header {
    font-size: 26px;
    line-height: 34px; }
  .section-header--big {
    font-size: 34px; }
  .content-wrapper--wide {
    width: 1540px; }
  .text {
    font-size: 16px;
    line-height: 24px; }
  .text--small {
    line-height: 20px; }
  .br--hide {
    display: none; }
  .b--hide {
    font-weight: 600; }
  .link {
    font-size: 18px; }
  .link--article {
    width: auto;
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 26px; }
  .list-item:before {
    top: 8px; } }

.btn {
  display: block;
  padding: 29px 10px;
  letter-spacing: 2px;
  text-align: center;
  color: #393e6b;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 3px solid #393e6b;
  border-radius: 50px; }
  .btn:hover {
    opacity: 0.6; }
  .btn:active {
    opacity: 0.3; }

.btn--cyan {
  color: #ffffff;
  background-color: #2cd3b8;
  border-color: #2cd3b8; }

.btn--blue {
  color: #ffffff;
  background-color: #393e6b;
  border-color: #393e6b; }

.btns-wrapper {
  display: flex;
  flex-direction: column; }
  .btns-wrapper .btn {
    margin-bottom: 30px; }

@media (min-width: 1680px) {
  .btn {
    padding: 14px 0;
    font-size: 14px;
    line-height: 16px; }
  .btns-wrapper {
    flex-direction: row; }
    .btns-wrapper .btn {
      margin-bottom: 0;
      margin-right: 16px; } }

.header {
  margin: 0 auto 15px auto;
  padding: 62px 0 48px 0;
  box-shadow: 0px 10px 20px 5px rgba(214, 223, 244, 0.7); }

.header__content-wrapper {
  display: flex;
  flex-wrap: wrap; }

.header__inner-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 57px; }

.header__menu-list {
  width: 100%; }

.header__menu-button {
  margin-top: 10px; }

@media (min-width: 750px) {
  .header__menu-button {
    margin-right: 136px; } }

@media (min-width: 1680px) {
  .header {
    width: 1680px;
    padding: 30px 0 12px 0;
    background: url("../img/header-mask.png") no-repeat; }
  .header__content-wrapper {
    flex-wrap: nowrap;
    justify-content: space-between; }
  .header__inner-wrapper {
    order: 2;
    width: auto; }
  .header__menu-list {
    display: flex;
    justify-content: space-between; } }

.menu-button {
  position: relative;
  width: 57px;
  height: 43px;
  border: none;
  background-color: transparent;
  outline: none; }
  .menu-button:hover {
    opacity: 0.6;
    cursor: pointer;
    -webkit-filter: drop-shadow(0 0 5px rgba(198, 210, 222, 0.3));
            filter: drop-shadow(0 0 5px rgba(198, 210, 222, 0.3)); }
  .menu-button:active {
    opacity: 0.3; }
  .menu-button::before, .menu-button::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    content: "";
    width: 57px;
    height: 5px;
    background-color: #2cd3b8; }
  .menu-button::before {
    top: 0;
    box-shadow: 0px 19px 0px 0px #2cd3b8; }
  .menu-button::after {
    bottom: 0; }

.menu-button--menu-open::before {
  top: 19px;
  transform: translate(-50%, 0) rotate(-45deg);
  transition: 0.5s;
  box-shadow: none; }

.menu-button--menu-open::after {
  bottom: 19px;
  transform: translate(-50%, 0) rotate(45deg);
  transition: 0.5s; }

@media (min-width: 1680px) {
  .menu-button {
    display: none; } }

@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.menu-list {
  display: none;
  margin: 48px 0 0 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px; }

.menu-list:first-child .menu-item {
  margin-right: 36px; }

.menu-list:last-child .menu-item {
  margin-right: 24px; }

.menu-list--open {
  display: block;
  -webkit-animation-name: slideInDown, fadeIn;
          animation-name: slideInDown, fadeIn;
  -webkit-animation-duration: 0.3s, 1s;
          animation-duration: 0.3s, 1s; }

.menu-item {
  padding: 10px 0; }

.menu-item__link {
  text-decoration: none;
  color: #393e6b; }
  .menu-item__link:hover {
    opacity: 0.6; }
  .menu-item__link:active {
    opacity: 0.3; }

@media (min-width: 1680px) {
  .menu-list {
    margin: 0; } }

@media (min-width: 1680px) {
  .menu-list {
    display: flex; } }

.logo {
  display: flex;
  justify-content: center;
  width: 100%; }
  .logo:hover {
    opacity: 0.6; }
  .logo:active {
    opacity: 0.3; }

@media (min-width: 750px) {
  .logo {
    display: block; } }

@media (min-width: 1680px) {
  .logo svg {
    width: 115px; } }

.installation {
  padding: 72px 0 48px 0; }

.installation__header {
  margin-bottom: 52px; }

.installation__introtext {
  margin-bottom: 90px; }

@media (min-width: 750px) {
  .installation__introtext {
    width: 534px; } }

@media (min-width: 1680px) {
  .installation {
    padding: 60px 0 68px 0; }
  .installation__header {
    margin-bottom: 35px; }
  .installation__introtext {
    width: 648px;
    margin-bottom: 54px; }
  .installation__btn {
    width: 255px; } }

.instruction {
  padding: 90px 0 18px 0; }

.instruction__header {
  width: 300px;
  margin-bottom: 46px; }

.instruction__introtext {
  margin-bottom: 106px; }

.instruction__step-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 40px; }

.instruction__step-item {
  position: relative;
  width: 164px;
  margin-bottom: 60px; }
  .instruction__step-item:nth-child(odd) {
    margin-right: 155px; }
  .instruction__step-item:before {
    position: absolute;
    top: 20px;
    left: -46px;
    width: 70px;
    height: 105px;
    font-size: 150px;
    line-height: 24px;
    color: rgba(57, 62, 107, 0.15); }
  .instruction__step-item:nth-child(1):before {
    content: "1"; }
  .instruction__step-item:nth-child(2):before {
    content: "2"; }

.instruction__picture {
  margin-bottom: 36px; }

.instruction__link {
  width: 150px;
  font-size: 28px; }

@media (min-width: 750px) {
  .instruction__introtext {
    width: 485px; } }

@media (min-width: 1680px) {
  .instruction {
    padding: 68px 0 22px 0; }
  .instruction__header {
    width: auto;
    margin-bottom: 16px; }
  .instruction__introtext {
    width: auto;
    margin-bottom: 112px; }
  .instruction__picture {
    width: 52px;
    margin-bottom: 20px; }
  .instruction__link {
    width: 220px;
    font-size: 18px; }
  .instruction__step-list {
    padding-left: 0; }
  .instruction__step-item {
    width: 256px; }
    .instruction__step-item:nth-child(odd) {
      margin-right: 0; }
    .instruction__step-item:before {
      top: 0; } }

.articles {
  padding: 92px 0 94px 0; }

.articles__header {
  width: 308px;
  margin-bottom: 56px; }

.articles__item {
  min-height: 90px;
  margin-bottom: 60px; }
  .articles__item:last-child {
    margin: 26px 0 0 0; }

@media (min-width: 1680px) {
  .articles {
    padding: 82px 0 56px 0; }
  .articles__header {
    width: auto;
    margin-bottom: 70px; }
  .articles__item {
    margin-bottom: 20px; } }

.dashboard {
  padding: 86px 0 82px 0; }

.dashboard__header {
  margin-bottom: 50px; }

.dashboard__introtext {
  margin-bottom: 84px;
  line-height: 28px;
  letter-spacing: 1px; }

.dashboard__item {
  min-height: 110px;
  margin-bottom: 58px; }
  .dashboard__item:last-child {
    margin-bottom: 0; }

@media (min-width: 750px) {
  .dashboard__header {
    width: 530px; }
  .dashboard__introtext {
    width: 530px; } }

@media (min-width: 1680px) {
  .dashboard {
    padding: 78px 0 24px 0; }
  .dashboard__header {
    width: auto;
    margin-bottom: 26px; }
  .dashboard__introtext {
    width: 770px;
    margin-bottom: 66px;
    letter-spacing: 0; }
  .dashboard__text {
    width: 850px; }
  .dashboard__item {
    margin-bottom: 20px; }
  .dashboard__item:nth-child(3) {
    min-height: 90px; }
  .dashboard__item:nth-child(4) {
    min-height: 96px; } }

.benefit {
  padding: 82px 0 100px 0; }

.benefit__header {
  margin-bottom: 46px; }

.benefit__introtext {
  margin-bottom: 70px;
  line-height: 30px; }

.benefit__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 98px; }

.benefit__item {
  display: flex;
  align-items: center;
  margin-bottom: 42px; }
  .benefit__item:last-child {
    margin-bottom: 0; }

.benefit__text {
  width: 470px;
  margin: 0;
  font-size: 24px;
  color: #393e6b; }
  .benefit__text b {
    margin-right: 15px; }

.benefit__picture {
  width: 102px;
  height: 102px;
  margin-right: 45px; }

@media (min-width: 750px) {
  .benefit__header {
    width: 530px; }
  .benefit__introtext {
    width: 570px; } }

@media (min-width: 1680px) {
  .benefit {
    padding: 72px 0 70px 0; }
  .benefit__header {
    width: auto;
    margin-bottom: 15px; }
  .benefit__introtext {
    width: auto;
    margin-bottom: 55px; }
  .benefit__picture {
    width: 74px;
    height: 74px;
    margin-right: 34px; }
  .benefit__item {
    margin-bottom: 30px; }
  .benefit__text {
    width: auto;
    font-size: 18px; }
    .benefit__text b {
      margin-right: 6px;
      font-size: 26px; }
  .benefit__list {
    margin-bottom: 78px; }
  .benefit__btn {
    width: 265px; } }

.integration {
  padding: 56px 0 108px 0; }

.integration__introtext {
  margin-bottom: 68px;
  line-height: 30px; }

.integration__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px; }

.integration__item {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  min-height: 72px; }
  .integration__item:last-child {
    margin-bottom: 0; }

.integration__item--app {
  margin-bottom: 58px; }
  .integration__item--app .integration__link {
    align-self: flex-end; }

.integration__picture {
  width: 67px;
  height: 67px;
  margin-left: 4px;
  margin-right: 45px; }

@media (min-width: 1680px) {
  .integration {
    padding: 60px 0 50px 0; }
  .integration__introtext {
    width: 620px;
    margin-bottom: 55px;
    line-height: 24px; }
  .integration__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .integration__item {
    width: 316px;
    margin-bottom: 12px; }
  .integration__link {
    line-height: 24px; }
  .integration__picture {
    width: 40px;
    height: 40px;
    margin-right: 28px; }
  .integration__item--social {
    order: 1; }
  .integration__item--msn {
    order: 4; }
  .integration__item--chat {
    order: 7; }
  .integration__item--feedback {
    order: 2; }
  .integration__item--yadi {
    order: 5; }
  .integration__item--app {
    order: 3; }
  .integration__item--email {
    order: 6; } }

.footer {
  padding: 56px 0 54px 0;
  font-size: 26px;
  line-height: 32px;
  color: #ffffff;
  background-color: #393e6b; }

.footer__content-wrapper {
  display: flex;
  justify-content: space-between; }

.footer__copyright {
  padding-left: 16px; }

@media (min-width: 1680px) {
  .footer {
    padding: 50px 0 54px 0;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6); }
  .footer__copyright {
    padding-left: 0; } }

.copyright__text {
  display: block; }

.copyright .logo {
  display: none; }

@media (min-width: 1680px) {
  .copyright__text {
    width: 255px; }
  .copyright .logo {
    display: block; } }

.contacts {
  display: none;
  width: 1200px; }

.contacts__telephonelist {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px; }

.contacts___telephoneitem {
  margin-bottom: 24px; }

.contacts__tellogo {
  margin-right: 15px;
  fill: #68cdbc; }

.contacts__tel,
.contacts__email {
  display: block;
  margin-bottom: 6px;
  color: #ffffff;
  text-decoration: none; }
  .contacts__tel:hover,
  .contacts__email:hover {
    opacity: 0.6; }
  .contacts__tel:active,
  .contacts__email:active {
    opacity: 0.3; }

.contacts__tel {
  font-size: 20px;
  line-height: 22px; }

.contacts___telephoneitem--main {
  display: flex;
  align-items: center;
  margin-bottom: 18px; }
  .contacts___telephoneitem--main .contacts__tel {
    margin-bottom: 0;
    font-size: 25px;
    line-height: 28px; }

.contacts__adress {
  margin: 0; }

.contacts__other {
  margin-top: 6px;
  margin-right: 44px; }

.contacts__timing {
  margin: 12px 0 16px 0; }

.contacts__sociallist {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__socialitem {
  display: flex;
  align-items: center;
  margin-right: 14px; }

.contacts__sociallink:hover {
  opacity: 0.6; }

.contacts__sociallink:active {
  opacity: 0.3; }

.contacts__sociallogo {
  fill: rgba(255, 255, 255, 0.6); }

@media (min-width: 1680px) {
  .contacts {
    display: flex;
    justify-content: space-between; } }
