.logo {
  display: flex;
  justify-content: center;

  width: 100%;

  @include hoverActive;
}

@media(min-width: $tablet-width) {
  .logo {
    display: block;
  }
}

@media(min-width: $desktop-width) {
  .logo svg {
    width: 115px;
  }
}
