@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu-list {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
}

.menu-list:first-child .menu-item {
  margin-right: 36px;
}

.menu-list:last-child .menu-item {
  margin-right: 24px;
}

.menu-list--open {
  display: block;

  animation-name: slideInDown, fadeIn;
  animation-duration: 0.3s, 1s;
}

.menu-item {
  padding: 10px 0;
}

.menu-item__link {
  text-decoration: none;
  color: $blue;

  @include hoverActive;
}

@media (min-width: $desktop-width) {
  .menu-list {
    display: flex;
  }
}
