@font-face {
  font-weight: 400;
  font-family: "Ubuntu-Regular";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"),
  url("../fonts/Ubuntu-Regular.woff") format("woff");
}

@import "variables/variables.scss";

html, body {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: Ubuntu-Regular, Arial, sans-serif;
  color: $gray;
}

@import "srvc/srvc.scss";
@import "btn/btn.scss";
@import "header/header.scss";
@import "menu-button/menu-button.scss";
@import "menu-list/menu-list.scss";
@import "logo/logo.scss";
@import "installation/installation.scss";
@import "instruction/instruction.scss";
@import "articles/articles.scss";
@import "dashboard/dashboard.scss";
@import "benefit/benefit.scss";
@import "integration/integration.scss";
@import "footer/footer.scss";
@import "copyright/copyright.scss";
@import "contacts/contacts.scss";
