.installation {
  padding: 72px 0 48px 0;
}

.installation__header {
  margin-bottom: 52px;
}

.installation__introtext {
  margin-bottom: 90px;
}

@media(min-width: $tablet-width) {
  .installation__introtext {
    width: 534px;
  }
}

@media(min-width: $desktop-width) {
  .installation {
    padding: 60px 0 68px 0;;
  }

  .installation__header {
    margin-bottom: 35px;
  }

  .installation__introtext {
    width: 648px;
    margin-bottom: 54px;
  }

  .installation__btn {
    width: 255px;
  }
}

